@import '../abstract/variaveis';

.intro {
    background-image: url(../../imagens/banner2.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    height: 83vh;
    position: relative;
    .banner-summary {
        position: absolute;
        top: 10vw;
        left: 20vw;
        .banner {
            .banner--titulo {
                color: $roxo;
                font-size: calc($tamanho-do-texto*1.5);
            }
            .banner--subtitulo {
                color: $roxo;
                font-size: calc($tamanho-do-texto);
            }
        }

        .summary {
            margin-top: 1rem;
            max-width: 500px;
            .summary--paragrafo {
                color: $roxo;
                font-size: calc($tamanho-do-texto/2);
                font-weight: 100;
                .summary--link {
                    text-decoration: none;
                    color: $roxo;
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .intro {
        background:url(../../imagens/banner-tablet-celular2.png);
        height: 85vh;
        .banner-summary {
            position: static;
            display: flex;
            flex-direction: column;
            gap: 80px;
            align-items: center;
            .banner {
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                gap: 80px;
            }
            .summary {
                padding: 10px;
                .summary--paragrafo {
                    font-size: $tamanho-do-texto/1.75;
                }
            }
        }
    }
}

@media screen and (max-width: 490px) {
    .intro {
        background-color: #F0E4F2;
        .banner-summary {
            gap: 40px;
            .banner {
                gap: 40px;
            }
        }
    }
}