@import '../abstract/variaveis';

.intro {
    background-image: url(../../imagens/banner2.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    min-height: 39vw;
    position: relative;

    .banner-summary {
        position: absolute;
        top: 10vw;
        left: 20vw;

        .banner {
            .banner--titulo {
                color: $roxo;
                font-size: calc($tamanho-do-texto*1.5);
            }

            .banner--subtitulo {
                color: $roxo;
                font-size: calc($tamanho-do-texto);
            }
        }

        .summary {
            margin-top: 1rem;
            max-width: 500px;

            .summary--paragrafo {
                color: $roxo;
                font-size: calc($tamanho-do-texto/2);
                font-weight: 100;

                .summary--link {
                    text-decoration: none;
                    color: $roxo;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .intro {
        .banner-summary {
            .banner {
                .banner--titulo {
                    font-size: $tamanho-do-texto;
                }
                .banner--subtitulo {
                    font-size: calc($tamanho-do-texto/1.5);
                }
            }
            .summary {
                max-width: 300px;
                .summary--paragrafo {
                    font-size: calc($tamanho-do-texto/3);
                }
            }
        }
        .banner--titulo {
            font-size: 20px;
        }
        .banner--subtitulo {
            font-size: calc($tamanho-do-texto);
        }
    }
}

@media screen and (max-width: 490px) {
    .intro {
        .banner-summary {
            .banner {
                .banner--titulo {
                    font-size: $tamanho-do-texto/1.5;
                }
                .banner--subtitulo {
                    font-size: calc($tamanho-do-texto/2.75);
                }
            }
            .summary {
                max-width: 200px;
                .summary--paragrafo {
                    font-size: calc($tamanho-do-texto/4);
                }
            }
        }
    }
}