@import '../abstract/variaveis';

.rodape{
    background-color: $roxo;
    height: 60px;
    display: flex;
    gap: 36px;
    padding: 0 24px;
    align-items: center;
    .rodape--item{
        text-decoration: none;
        color: $branco;
        font-size: calc($tamanho-do-texto/1.5);
    }
    .rodape--barra{
        color: $branco;
        font-size: 40px;
        font-weight: 500;
    }
} 
@media screen and (max-width: 768px){
    .rodape{
        gap: 12px;
        .rodape--item{
            font-size: calc($tamanho-do-texto/2);
        }
    }
}
@media screen and (max-width: 480px){
    .rodape{
        gap: 5px;
        .rodape--item{
            font-size: calc($tamanho-do-texto/3);
        }
    }
}