@import '../abstract/variaveis';

.rodape{
    background-color: black;
    height: 60px;
    display: flex;
    gap: 36px;
    padding: 0 24px;
    align-items: center;
    .rodape--item{
        text-decoration: none;
        color: $branco;
        font-size: calc($tamanho-do-texto/1.5);
    }
    .rodape--item::after{
        content: "&";
    }
} 