@import '../abstract/variaveis';

.rodape{
    background-color: $roxo;
    height: 60px;
    display: flex;
    gap: 36px;
    padding: 0 24px;
    align-items: center;
    .rodape--item{
        text-decoration: none;
        color: $branco;
        font-size: calc($tamanho-do-texto/1.5);
    }
    .rodape--barra{
        color: $branco;
        font-size: 40px;
        font-weight: 500;
    }
    
} 