@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');

//fonte
$fonte: 'Abhaya Libre', serif;
//cores
$roxo: #535A73;
$azul-claro:#BAF0FF;
$branco: #FFFFFF;
$preto: #000000;
//tamanho
$tamanho-do-texto: 3rem;
//peso
$texto-fino:100;