@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap");
html, body {
  font-family: "Abhaya Libre", serif;
  margin: 0;
  padding: 0;
}

.cabecalho {
  background-color: #535A73;
  display: flex;
  justify-content: space-between;
  padding: 0 4em;
  height: 60px;
  align-items: center;
}
.cabecalho .cabecalho--img {
  width: 65px;
}
.cabecalho .cabecalho--titulo {
  color: #FFFFFF;
  font-weight: 100;
  font-size: 3rem;
}
.cabecalho .cabecalho--menu .menu--lista {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.cabecalho .cabecalho--menu .menu--lista .lista--item {
  list-style-type: none;
}
.cabecalho .cabecalho--menu .menu--lista .lista--item .item--link {
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.cabecalho .cabecalho--menu .menu--lista .lista--item .item--link:hover {
  color: #BAF0FF;
}

@media screen and (max-width: 480px) {
  .cabecalho {
    padding: 0 10px;
    justify-content: space-around;
  }
  .cabecalho .cabecalho--titulo {
    font-size: 2.4rem;
  }
  .cabecalho .cabecalho--menu .menu--lista {
    gap: 10px;
  }
  .cabecalho .cabecalho--menu .menu--lista .lista--item .item--link {
    font-size: 1.2rem;
  }
}
.rodape {
  background-color: #535A73;
  height: 60px;
  display: flex;
  gap: 36px;
  padding: 0 24px;
  align-items: center;
}
.rodape .rodape--item {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 2rem;
}
.rodape .rodape--barra {
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .rodape {
    gap: 12px;
  }
  .rodape .rodape--item {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  .rodape {
    gap: 5px;
  }
  .rodape .rodape--item {
    font-size: 1rem;
  }
}
.intro {
  /*background-image: url(../../imagens/banner2.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;*/
  position: relative;
  height: 87vh;
  width: 100%;
}
.intro .banner-summary {
  height: 100%;
}
.intro .banner-summary .intro--img {
  width: 100%;
  height: 100%;
}
.intro .banner-summary .banner--escrita {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  top: 10vh;
  left: 20vw;
}
.intro .banner-summary .banner--escrita .banner--titulo {
  color: #535A73;
  font-size: 5.25rem;
}
.intro .banner-summary .banner--escrita .banner--subtitulo {
  color: #535A73;
  font-size: 3rem;
}
.intro .banner-summary .banner--escrita .summary {
  margin-top: 1rem;
  max-width: 500px;
}
.intro .banner-summary .banner--escrita .summary .summary--paragrafo {
  color: #535A73;
  font-size: 1.7142857143rem;
  font-weight: 100;
}
.intro .banner-summary .banner--escrita .summary .summary--paragrafo .summary--link {
  text-decoration: none;
  color: #535A73;
}

@media screen and (max-width: 830px) {
  .intro {
    background: url(../../imagens/banner-tablet-celular2.png);
    height: 85vh;
  }
  .intro .banner-summary {
    position: static;
  }
  .intro .banner-summary .banner--escrita {
    gap: 10px;
    left: 14vw;
    max-width: 70%;
    padding: 10px;
  }
  .intro .banner-summary .banner--escrita .summary {
    padding: 10px;
  }
  .intro .banner-summary .banner--escrita .summary .summary--paragrafo {
    font-size: 1.7142857143rem;
  }
}
@media screen and (max-width: 490px) {
  .intro {
    background-color: #F0E4F2;
  }
  .intro .banner-summary .banner--escrita {
    gap: 40px;
  }
  .intro .banner-summary .banner--escrita .banner--titulo {
    font-size: 4.5rem;
  }
  .intro .banner-summary .banner--escrita .banner--subtitulo {
    font-size: 2.4rem;
  }
  .intro .banner-summary .banner--escrita .summary .summary--paragrafo {
    font-size: 1.5rem;
  }
}
.page-wrapper {
  font-size: 1.1111111111rem;
}
.page-wrapper .main {
  margin: 50px 8% 0 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #535A73;
}
.page-wrapper .main .main-div {
  max-width: 45%;
  margin-bottom: 30px;
}
.page-wrapper .main .main-div h3 {
  font-size: 1.5789473684rem;
  padding-bottom: 20px;
}
.page-wrapper .main .main-div p {
  line-height: 1.5;
}
.page-wrapper .main .main-div p a:hover {
  color: #5f03bb;
}
.page-wrapper .main .main--requirements {
  max-width: 100%;
  text-align: center;
}
.page-wrapper aside {
  margin: 20px 8% 20px 8%;
}
.page-wrapper aside .wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.page-wrapper aside .wrapper .design-selection, .page-wrapper aside .wrapper .design-archives, .page-wrapper aside .wrapper .zen-resources {
  width: 270px;
  max-height: 300px;
  background-color: #535A73;
  color: #FFFFFF;
  border-radius: 25px;
  padding: 15px 20px 15px 30px;
  line-height: 1.5;
  flex-wrap: wrap;
  margin-top: 20px;
}
.page-wrapper aside .wrapper .design-selection .aside--title, .page-wrapper aside .wrapper .design-archives .aside--title, .page-wrapper aside .wrapper .zen-resources .aside--title {
  font-size: 1.5789473684rem;
  padding-bottom: 7px;
  padding-left: 10px;
}
.page-wrapper aside .wrapper .design-selection a, .page-wrapper aside .wrapper .design-archives a, .page-wrapper aside .wrapper .zen-resources a {
  color: #FFFFFF;
  text-decoration: none;
}
.page-wrapper aside .wrapper .design-selection a:hover, .page-wrapper aside .wrapper .design-archives a:hover, .page-wrapper aside .wrapper .zen-resources a:hover {
  text-decoration: underline;
  color: #bd90eb;
}
.page-wrapper aside .wrapper .design-selection li, .page-wrapper aside .wrapper .design-archives li, .page-wrapper aside .wrapper .zen-resources li {
  list-style-type: circle;
}

@media screen and (max-width: 490px) {
  .page-wrapper .main {
    display: block;
  }
  .page-wrapper .main .main--preamble, .page-wrapper .main .main--participation, .page-wrapper .main .main--explanation, .page-wrapper .main .main--benefits, .page-wrapper .main .main--requirements {
    max-width: 100%;
    margin: 40px auto;
  }
}
.membros {
  width: 70%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10%;
}
.membros .card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 230px;
  max-width: 280px;
}
.membros .card .card--img {
  width: 100%;
  border-radius: 100%;
}
.membros .card .card--redes_sociais .redes_sociais--Instagram img {
  display: inline-block;
  vertical-align: middle;
}
.membros .card .card--redes_sociais .redes_sociais--Instagram h2 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.membros .card .card--redes_sociais .redes_sociais--github img {
  display: inline-block;
  vertical-align: middle;
}
.membros .card .card--redes_sociais .redes_sociais--github h2 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}/*# sourceMappingURL=style.css.map */